@import "vars";
@import "reset";

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  line-height: 1.5;
}

@import "blocks/button";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/catagory";
@import "blocks/goods";
@import "blocks/tachen";
